{% extends 'base.html.twig' %}

{% block title %}{{ animal.name }}{% endblock %}

{% block body %}
    <div class="admin-container">
        <div class="container text-center">
            <h1 class="text-center">{{ animal.name }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn main-btn m-5">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}