{% extends 'base.html.twig' %}

{% block title %}Place au jeu{% endblock %}

{% block body %}
    <div class="game-container">
        <div class="container">
            {% include 'game/templates/header.html.twig' %}
            <div class="d-flex justify-content-between">
                <p>Votre Score : {{ blackJack.playerScore }}</p>
                <p>Score du Croupier : {{ blackJack.bankScore }}</p>
            </div>
            <div class="boardtable mb-5 d-flex flex-column align-items-center">
                <h1>Vous avez pioché un AS</h1>
                <p> Faites votre choix</p>
                <div class="d-flex justify-content-around">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn main-btn">Valider</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
